<!-- header -->
<div class="flex justify-between items-center px-[5%] sm:px-[10%] my-[20px]">
  <span class="text-2xl font-medium leading-8 tracking-normal text-left gray-4"
    >Chameleon Stack</span
  >
  <button
    class="primary-bg text-white active:bg-blue-600 font-bold text-sm sm:px-6 sm:py-3 px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
    type="button"
    (click)="openDialog()"
  >
    Nova Task
  </button>
</div>
<!-- conteúdo -->
<div class="pb-20 h-[85vh] px-[5%] sm:px-[10%]">
  <!-- colunas -->
  <div class="flex overflow-x-auto overflow-y-hidden h-full min-w-[20rem]">
    <div
      *ngFor="let header of headers"
      class="m-[1px] gray-2-bg h-full min-w-[20rem] text-gray-500 flex-1 flex flex-col"
    >
      <!-- Header -->
      <div class="flex-col sticky top-0 gray-2-bg z-10">
        <div
          class="flex border border-gray-100 justify-between items-center mb-2 bg-white p-2"
        >
          <div class="flex items-center my-[10px]">
            <span class="text-sm mr-2 gray-3 font-semibold">{{
              header.label
            }}</span>
            <!-- Quantidade de cards -->
            <span
              class="bg-gray-100 gray-3 text-sm font-semibold px-3 py-2 rounded-full h-8 w-8 flex items-center justify-center"
              >{{ getCardsByStatus(header.label).length }}</span
            >
          </div>
        </div>
        <button
          class="gray-3 font-bold text-sm px-4 py-2 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150 hover:text-gray-500 bg-transparent"
          type="button"
          (click)="openDialog(header.label)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 inline-block mr-1 mb-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
          <span style="font-weight: bold">Nova task</span>
        </button>
      </div>
      <!-- Conteúdo que pode transbordar -->
      <div class="overflow-auto px-4 flex-grow">
        <div
          *ngFor="let item of getCardsByStatus(header.label); let isLast = last"
          [ngStyle]="{ 'margin-bottom': isLast ? '40px' : '0' }"
        >
          <app-task-card [task]="item"></app-task-card>
        </div>
      </div>
    </div>
  </div>
</div>
