/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Importar as funcionalidades básicas do Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
$brown-100: #f5f5dc;
$brown-200: #eedd82;
$brown-300: #d2b48c;
$brown-400: #bc8f8f;
$brown-500: #a52a2a;
$brown-600: #8b4513;
$brown-700: #8b4513;
$brown-800: #8b4513;
$brown-900: #8b4513;

.bg {
  &-brown {
    &-100 {
      background-color: $brown-100;
    }
    &-200 {
      background-color: $brown-200;
    }
    &-300 {
      background-color: $brown-300;
    }
    &-400 {
      background-color: $brown-400;
    }
    &-500 {
      background-color: $brown-500;
    }
    &-600 {
      background-color: $brown-600;
    }
    &-700 {
      background-color: $brown-700;
    }
    &-800 {
      background-color: $brown-800;
    }
    &-900 {
      background-color: $brown-900;
    }
  }
}
